# Dependencies
node_modules/
*/node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/
*.lcov

# Production build
build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.env.local

# Databases & local data
*.sqlite3
mydatabase
src/db/
src/tmp/
db/
tmp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
